#nav-bar{
    background-color: #1B2631;
    
}body{
  background-image: url(bg2.jpg);  
}
.navbar-brand img{
    width: 230px;
    height: 120px;
    margin-left: 0;
}
#nav-bar .nav-link{
    color: #fff;
}
.navbar-form input[type="text"]{
    width: 500px;
}
#search{
    padding-left: 10px;
    margin-top: 10px;
}
.shop-item {
    margin: 30px;
}
.shop-item button{
    background-color: #59253A;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #59253A;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.section-header{
    margin-left: 500px;
    margin-top: 30px;
    color: #59253A;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #59253A;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #59253A;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: ;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #59253A;
    margin-right: 20px;
}

.cart-total-price {
    color: #59253A;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: #59253A;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}