*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #59253A;
}
img{
    width: 120px;
    height: 120px;
    margin-left: 470px;
    margin-top: 40px;
    margin-left: 600px;
}
.container{
    margin-left: 350px;
    border-color: black;
    border-radius: 10px;
}
.ls{
    font-weight: 500;
    margin-top: 50px;
    font-size: 23px;
    color: white;
}
.ms{
    font-weight: 500;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 15px;
}

input[type="text"]:focus{
    background-color: aqua;
    border-color: orangered;
}
input[type="text"]{
    padding-top: 20px;
    border-radius: 10px;
    border-color: black;
    width: 350px;
}
button[type="button"]{
    background-color: orange;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin-top: 15px;
    display: block;
}
button[type="button"]:hover{
    cursor: pointer;
}
.confirm{
    margin-top: 30px;
    color: aqua;
    font-size: 20px;
}
.confirm a{
    text-decoration: none;
    color: chartreuse;
}
.confirm a:hover{
    text-decoration: underline;
    color: orangered;
}
.help a{
    text-decoration: none;
    margin-bottom: 20px;
    color: aqua;
}
li a:hover{
    color: orangered;
    text-decoration: underline;
}
.help{
    margin-top: 40px;
}
.new{
    color: gray;
    margin-left: 580px;
    margin-top: 20px; 
}
.create button[type="button"]{
    background-image: linear-gradient(#B2BABB,#CCD1D1);
    margin-left: 450px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}